<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_datetimepickers" %>
<% end %>


<%= form_for @course ,builder: FormBuilderWithDateTimeInput do |f| %>
<%=f.date_select :start_at,
  style: "margin-top: 0 !important;",
  help_text: "Please pick a day during the week that you wish this assignement to be scaled around (please note weeks start on sunday)."
 %>
<% end %>

<br>
<h6>lab time (date is ignored just need the time):</h6><br>
 <%= form_for :sections , :as=>"section" do |f| %>
        <%= f.select( :name ,Sections.where("course_id = ?", @course.id).collect{|r| [ r.name]}, {prompt: 'select section'}, {class: 'select_menu'}) %>
<% end %>
<hr>
<input name="sameDay" id="sameDay" type="checkbox">
<label for="sameDay">start the assignement today for any sections occuring on the start day</label>
<hr>
<h6>lab start time:</h6><br>
<p id="labstart"></p>
<hr>
<h6>due time:</h6><br>
<p id="dump"></p>
<hr>

<script type="text/javascript">
document.getElementById("course_start_at").setAttribute("onchange", "go()");
document.getElementById("course_start_at").value = new Date();
document.getElementById("sameDay").checked = false;
var stuff = JSON.parse('<%= raw Sections.where("course_id = ?", @course.id).to_json %>');
var value = "";
var sameday = 0;
var dayinmilli = 86400000;
var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];


$(".select_menu").change(function(){          

    value =  $("#" + this.id).val();
    go();
});

$("#sameDay").change(function(){
	sameday = this.checked;
	go();
});

function go(){
	//deal with what date the user picks
	var start = new Date(document.getElementById("course_start_at").value);
	start.setHours(0,0,0)
	var temps = new Date(start);
	while(temps.getDay() != 0){
		temps = new Date(temps.getTime() - dayinmilli);
	}

	//deal with what sections user picks
	for (i = 0; i < stuff.length; i++) {
		if(stuff[i].name == value){
			var labDate = new Date(stuff[i].start);
			document.getElementById("labstart").innerHTML = labDate;


			var temp = new Date(start);
			temp.setHours(0,0,0);

			if(labDate.getDay() == temp.getDay() && !sameday){
				temp = new Date(temp.getTime() + dayinmilli);
			}

			while(labDate.getDay() != temp.getDay()){
				temp = new Date(temp.getTime() + dayinmilli);
			}
			temp.setHours(labDate.getHours(), labDate.getMinutes(),labDate.getSeconds());
			document.getElementById("dump").innerHTML = temp;
			break;
		}
	}


	
}
go();
</script>