<% @title = "Manage Sections" %>

<% content_for :javascripts do %>
<%= javascript_include_tag 'chosen.jquery.min' %>
<%= javascript_include_tag "initialize_datetimepickers" %>

<% end %>

<div class="row">
	<div class="col s12 m12"> 
		<h2>Manage Sections</h2>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col s12 m4"> 
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons"></i><h5>Section Options</h5></div>
				<div class="collapsible-body">
					<ul class="options">
						<li><%= link_to "Manage students in each section", [:users, @course],
							{ title: "Edit the users in each section" } %></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="col s12 m8">
			<div class="category">
				<div id='ajaxTable'>
					<%= render :partial=>'sectionsTable' %>
				</div>
			</div>
			<hr>
			<h6>Make a new section or edit an existing one</h6>
			<hr>
			<div class="category">
				<%= form_for :sections, url: course_sections_path, builder: FormBuilderWithDateTimeInput do |f| %>
				<%= f.text_field "name", id: "section_name" %>
				<br>
				<div id="wrap">
				<%= f.select(:day, [["Monday",1],["Tuesday",2],["Wednesday",3],["Thursday",4],["Friday",5],["Saturday",6],["Sunday",0]] ,{prompt: 'Select Day Of Week'}, {id: 'sections_day'}) %>
				</div>
				<br>
				<%= f.time_selecter "start time", id: "section_start_at" %>
				<br>
				<%= f.time_selecter "end time", id: "section_end_at" %>
				<br>
				<%= f.submit "Save" , {:class=>"btn primary"} %>
				<%= f.submit "Delete" , {:class=>"btn primary"} %>
				<%end%>
			</div>
		</div>
	</div>


	<script type="text/javascript">
	//initalize forms with default data
	document.getElementById("sections_day").value = "";
	document.getElementById("section_name").value = "";
	$('td').click(function(){
		data = this.parentElement.children;
		day = data[2].innerHTML.split(" ")[0]
		document.getElementById("section_name").value = data[1].innerHTML;

		$('#sections_day').val({
			Sunday: 0,
			Monday: 1,
			Tuesday: 2,
			Wednesday: 3,
			Thursday: 4,
			Friday: 5,
			Saturday: 6
		}[day]);

		document.getElementById("sections_start time").value = data[2].innerHTML.split(" ")[1];
		document.getElementById("sections_end time").value = data[3].innerHTML.split(" ")[1];


		Materialize.updateTextFields();
		$('#sections_day').material_select();
	});
</script>
